    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('~/Content/images/blognoculpe.jpg');" data-stellar-background-ratio="3">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="blog.php">Blog <i class="fa fa-chevron-right"></i></a></span>Los plásticos nos dan mucho a cambio de muy poco <span><i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">Los plásticos nos dan mucho a cambio de muy poco</h1>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
                <div class="col-md-12 text-center pl-0 pr-0">
                    <div class="text text-center element-animate ">
                        <span class="post-meta d-block mt-5"><font style="vertical-align: inherit;"><font " style="vertical-align: inherit;">12 de julio de 2020</font></font></span>  
                        <div class="col-md-12 text-left pl-0 pr-0 mt-5">
                          <table class="hidden-on-desktop">
                            <tbody>
                              <tr>
                                <td>
                                  <h3><strong>Son materiales totalmente seguros para la salud</strong></h3>
                                  <p>El plástico es el material más regulado actualmente y el que se somete a las normativas más exigentes. No es un material tóxico.</p>                       
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h3><strong>Conservan los alimentos y reducen su desperdicio</strong></h3>
                                  <p>Con la utilización de envases de plástico se reduce el desperdicio de alimentos y el consumo de energía. En Europa la pérdida de productos es de tan solo un 3% gracias al uso de soluciones de envasado adecuadas</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h3><strong>Salvan vidas</strong></h3>
                                  <p>El plástico se aplica en coches, viviendas, dispositivos móviles etc., es decir, en productos con una larga vida útil y que representan más del 60% del total de destinos de materiales plásticos.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h3><strong>Tienen usos de larga duración</strong></h3>
                                  <p>Todos los materiales de papel y cartón deben ir al contenedor azul para ser reciclados y ayudar a reducir la sobreexplotación de los recursos naturales, algunos de estos son:</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h3><strong>No agotan las reservas de petróleo</strong></h3>
                                  <p>Contrariamente a lo que se piensa, solo entre el 4% y el 6% del consumo europeo de petróleo se destina a la producción de plástico, con la ventaja de que los productos resultantes tienen una capacidad de ahorro energético que compensa el gasto realizado.</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h3><strong>Prohibir los plásticos no es la solución</strong></h3>
                                  <p>Para acabar con la basura en el medio ambiente la solución está en la concienciación. Y es que para aprovechar al máximo las ventajas del plástico hay que evitar que estos y otros productos acaben abandonados en el medio ambiente./p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>    
                    </div>
                </div>
            </div>