
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-wrap hero-wrap-2" style="background-image: url('../../Content/images/Plasticosblog1.jpg');" data-stellar-background-ratio="0.8">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.php">Home <i class="fa fa-chevron-right"></i></a></span>Blog <span><i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Blog</h1>
            </div>
        </div>
    </div>
</section>

<div class="about-box pt-5 pb-5">
    <div class="container">

        <div class="row pt-5">
            <div class="col-sm-6 text-center">
                <img style="width:100% " src="~/Content/images/Blogreciclar.jpg" class="img-responsive rounded" alt="">
            </div>
            <div class="col-sm-6 text-center">
                <div class="text text-center element-animate">
                    <span class="post-meta"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12 de julio de 2020</font></font></span>
                    <h3 class="mt-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Qué podemos reciclar?</font></font></h3>
                    <p class="mb-5" style="text-align:justify"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reciclar es darle una nueva vida a los envases, reduciendo el consumo de recursos y la degradación del planeta.</font><font style="vertical-align: inherit;"> Aquí  te contamos los materiales reciclables más comunes de nuestro día a día </font></p>
                    <p><a href="blog1.php" class="btn btn-primary py-3 px-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sigue leyendo</font></font></a></p>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-sm-6 text-center">
                <img style="width:100% " src="~/Content/images/blognoculpe.jpg" class="img-responsive rounded" alt="">
            </div>
            <div class="col-sm-6 text-center">
                <div class="text text-center element-animate">
                    <span class="post-meta "><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 de abril de 2020</font></font></span>
                    <h3 class="mt-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los plásticos nos dan mucho a cambio de muy poco</font></font></h3>
                    <p class="mb-5" style="text-align:justify"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En los últimos años han surgido distintas reacciones extremistas contra el plástico que alientan a renunciar a él e incluso prohibirlo.</font><font style="vertical-align: inherit;">Por ello, la industria del plástico se ha unido para dar a conocer beneficios que aporta este tipo de material.</font></p>
                    <p><a href="blog2.php" class="btn btn-primary py-3 px-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sigue leyendo</font></font></a></p>
                </div>
            </div>
        </div>

    </div>
</div>

