
@{
    ViewBag.Title = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">
        <div class="content m-5">
            <!-- Basic datatable -->
            <div class="card">
                <div class="card-header header-elements-inline bg-primary">
                    <h5 class="card-title">Mi Carrito</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <table class="table datatable-basic">
                    <tbody>
                        @foreach (var Article in ViewBag.Article)
                        {
                            foreach (var Articles in ViewBag.Articles)
                            {
                                if (Article["idArticle"] == Articles["idArticle"])
                                {
                                    <tr>
                                        <td class="text-center"><img height="60" src="@Article["image"]" alt="Alternate Text" /></td>
                                        <td class="text-center">@Article["name"]</td>
                                        <td class="text-center">@Article["description"]</td>
                                        <td class="text-center">$@Article["Price"]</td>
                                        <td class="text-center"><a href="#" class=""><i class="icon-menu9"></i></a></td>
                                    </tr>
                                }
                            }
                        }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center"><a href="#" class="btn btn-primary py-3 px-4">Pagar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /basic datatable -->
        </div>
    </div>